<nav class="breadcrumb">
  <a routerLink="/accueil">Accueil</a>
  <span> > </span>
  Gestion des utilisateurs
</nav>

<h2>Utilisateurs</h2>

<p>
  Nombre affiché : {{ users.length }}
</p>

<ul class="user-list">
  <li *ngFor="let user of users">
    <strong>{{ user.userName }}</strong>
    <span>{{ user.role }}</span>
  </li>
</ul>

<app-pagination
  [currentPage]="currentPage"
  [totalPages]="totalPages"
  [pageSize]="pageSize"
  (pageChanged)="onPageChanged($event)"
  (pageSizeChanged)="onPageSizeChanged($event)">
</app-pagination>
