<div class="header">

  <nav class="breadcrumb">
    <a routerLink="/accueil">Accueil</a>
    <span> > </span>
    <span class="page-title">Liste des commandes</span>
  </nav>

  <div class="header-actions">
    <button
      mat-flat-button
      color="primary"
      routerLink="/create">
      Ajouter une commande
    </button>
  </div>
</div>

<mat-card
  *ngFor="let order of commandes"
  class="order-card">

  <div class="order-item">

    <div class="order-info">
      <h3>{{ order.client?.nom }}</h3>

      <p>
        {{ order.status }} • Créée le :
        {{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}
      </p>
      <div *ngIf="order.items?.length">
        <p>
          <strong>Articles :</strong>
          <span *ngFor="let item of order.items; let last = last">
      {{ item.product?.code }} - {{ item.product?.libelle }}
      ({{ item.quantity }} × {{ item.unitPrice }} €){{ !last ? ', ' : '' }}
    </span>
        </p>
      </div>
    </div>

    <div class="actions">
      <button
        mat-icon-button
        color="primary"
        [routerLink]="['/orders/update', order.id]">
        <mat-icon>edit</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        (click)="delete(order.id!)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

  </div>

</mat-card>
