@if (isAuthenticated()) {

<mat-toolbar color="primary">

  <span>Event Project</span>


  <span class="spacer"></span>
  <select
    #lang
    (change)="changeLanguage(lang.value)">
    <option value="fr">FR</option>
    <option value="en">EN</option>
  </select>
  <a mat-button
     routerLink="/accueil"
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{ exact: true }">
    {{ 'MENU.HOME' | translate }}
  </a>

  <a mat-button
     routerLink="/orders"
     routerLinkActive="active-link">
    {{ 'MENU.LIST' | translate }}
  </a>

  <a mat-button
     routerLink="/search"
     routerLinkActive="active-link">
    {{ 'MENU.SEARCH' | translate }}
  </a>

  @if (isAdmin()) {
  <a mat-button
     routerLink="/users"
     routerLinkActive="active-link">
    {{ 'MENU.USERS' | translate }}
  </a>

  <a mat-button
     routerLink="/roles"
     routerLinkActive="active-link">
    {{ 'MENU.ROLES' | translate }}
  </a>
  }
  <span>{{ getUserName() }}</span>
   


  <button
    mat-flat-button
    color="primary"
    (click)="logout()">
    {{ 'MENU.LOGOUT' | translate }}
  </button>

</mat-toolbar>

}

<router-outlet></router-outlet>
