<h2>Mise à jour d'une commande</h2>

<mat-form-field appearance="outline">
  <mat-label>Client</mat-label>

  <mat-select
    [(ngModel)]="client"
    name="client"
    required
    #clientCtrl="ngModel">

    <mat-option
      *ngFor="let c of clients"
      [value]="c">

      {{ c.code }} - {{ c.nom }}

    </mat-option>

  </mat-select>

  <mat-error *ngIf="clientCtrl.invalid && clientCtrl.touched">
    Le client est obligatoire
  </mat-error>

</mat-form-field>

<mat-form-field>
  <mat-label>Description</mat-label>
  <input
    matInput
    [(ngModel)]="description">
</mat-form-field>

<button
  type="button"
  (click)="addItem()">
  Ajouter un article
</button>

<div *ngFor="let item of items; let i = index">

  <mat-form-field>
    <mat-label>Produit</mat-label>

    <mat-select
      [(ngModel)]="item.product"
      (selectionChange)="onProductChange(item)"
      [compareWith]="compareProducts"
      name="product{{ i }}"
      #productCtrl="ngModel"
      required>

      <mat-option
        *ngFor="let product of products"
        [value]="product">

        {{ product.code }} - {{ product.libelle }}

      </mat-option>

    </mat-select>

    <mat-error *ngIf="productCtrl.invalid && productCtrl.touched">
      Le produit est obligatoire
    </mat-error>

  </mat-form-field>

  <mat-form-field>
    <mat-label>Quantité</mat-label>

    <input
      matInput
      type="number"
      [(ngModel)]="item.quantity"
      name="quantity{{ i }}"
      min="1"
      required
      #qtyCtrl="ngModel">

    <mat-error *ngIf="qtyCtrl.errors?.['required']">
      La quantité est obligatoire
    </mat-error>

    <mat-error *ngIf="qtyCtrl.errors?.['min']">
      La quantité doit être supérieure à 0
    </mat-error>

  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      type="number"
      [(ngModel)]="item.unitPrice"
      name="unitPrice{{ i }}"
      readonly>
  </mat-form-field>

  <button
    type="button"
    (click)="removeItem(i)">
    Supprimer
  </button>

</div>

<button
  mat-raised-button
  color="primary"
  (click)="update()"
  [disabled]="!client">
  Enregistrer
</button>
